@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #020617;
    color: #e2e8f0;
    overflow-x: hidden;
  }

  .font-mono {
    font-family: 'JetBrains Mono', monospace;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #0f172a;
  }

  ::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #475569;
  }

  /* Terminal scrollbar */
  .terminal-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .terminal-scroll::-webkit-scrollbar-track {
    background: transparent;
  }

  .terminal-scroll::-webkit-scrollbar-thumb {
    background-color: #334155;
    border-radius: 4px;
  }

  .terminal-scroll::-webkit-scrollbar-corner {
    background: transparent;
  }
}